/* 
CORES:
laranja: #ffb833 | laranja light: #ffdd9f | laranja dark: #e29300

*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

/* conteudo do site excluindo footer e header (143px = tamanho dos dois) */
.main {
  min-height: calc(100vh - 186px);
}


/* remove a cor azul das anchor tag */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

.navbar-toggler {
  color: #ffb833 !important;
  border-radius: 0px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}


/* fonte da pagina */
html, body {
  font-family: 'Kumbh Sans', sans-serif;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

/* fonte do titulo */

.titulo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.8em;
}


@media (min-width: 410px) and (max-width: 575px) {
  .card-bg {
    margin-left: 48px !important;
    margin-right: 48px !important;
  }
}

@media (min-width: 768px) {
  .titulo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
  }
}

/* navbar na esquerda */

@media (max-width: 767px) {

  .backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    color: white;
    font-size: 4vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navbar-collapse {
    position: absolute;
    top: 0px;
    right: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 50%;
    transition: all 0.4s ease;
    display: block;
    height: 100vh !important;
    background-color: white;
  }

  .navbar-collapse.collapsing {
    margin-right: 75%;
    right: 25%;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show {
    right: 50%;
  }

  .navbar-collapse-shadow {
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

/* cor dos botões */

.nav-link {
  color:#474747 !important;
}

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover {
    transition: 0.3s;
    color:#ffb833 !important;
  }
}

@media (hover: hover) and (pointer: fine) {
  .sociais:hover {
    transition: 0.5s;
    color: #ffb833;
  }
}

/* active */

.active {
  color: #e29300 !important;
}

@media (min-width: 768px) {
  @media (hover: hover) and (pointer: fine) {
    .nav-item-border:hover {
      border-bottom: 1px solid #e29300;
    }
  }

  .border-active {
    border-bottom: 1px solid #e29300;
  }
}

/* container de botoes de pais */

.abrir-btn-pais {
  position: fixed;
  z-index: 10555;
  background-color: #474747;
  color: black;
}

.container-pais {
  z-index: 15555;
  left: 12px;
  bottom: 12px;
  position: fixed;
  border: 1px solid rgb(192, 192, 192);
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  transition: 0.3s;
  background-color: white;
}

.btn-pais {
  background-color: white;
  border: none;
  padding: 0;
}

.mover-container-btn-pais {
  left: -40px;
}

.flag-img:active {
  filter: brightness(0.8);
}

.anti-click-pais {
  height: 32px;
  width: 12px;
  left: 0px;
  bottom: 12px;
  position: fixed;
}

/* rodar icon */

.rotate{
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate-180 {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* efeito fade-in */

.fade-in {
  -webkit-animation: fade-in 0.3s linear forwards;
  animation: fade-in 0.6s linear forwards;
  opacity: 0;
}

@keyframes fade-in {
  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.6s linear forwards;
  animation: fade-out 0.6s linear forwards;
  opacity: 1;
}

@keyframes fade-out {
  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 0;
  }
}

/* cards dos sites */


.card-bg {
  background-color: rgb(231, 231, 231); 
  border: 1px solid rgb(187, 187, 187);
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

@media (hover: hover) and (pointer: fine) {
  .card-bg:hover {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #ffdd9f;
    border: 1px solid #ffb833;
  }
}

.card-bg:active {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: brightness(0.8);
  -moz-transition: 0s;
  -webkit-transition: 0s;
  transition: 0s;
}

.card-img {
  width: 100%;
  border-radius: 0px !important;
}

/* brand da navbar */

.luan-brand {
  width: 120px;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
}

/* lightbox mobile */

.lightbox-container {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-lightbox {
  background-color: rgb(231, 231, 231); 
  border: none;
  padding: 0;
}

.btn-lightbox:active {
  color: #e29300;
  background-color: #ffdd9f;
  border: none;
  padding: 0;
}

.thumbnail-img {
  border: 1px solid rgb(231, 231, 231);
}

.active-thumb {
  border: 1px solid #ffb833;
}

.prev {
  border-radius: 5px 0px 0px 5px;
}

.next {
  border-radius: 0px 5px 5px 0px;
}

/* botão de visitar */

.btn-visitar {
  border: 1px solid #e29300;
  background-color: #ffdd9f;
  border-bottom: 4px solid #e29300;
  background: linear-gradient(-45deg,  #ffdd9f 30%, #ffc29f 40%, #ffba9f 50%, #ffc29f 60%,  #ffdd9f 70%);
  background-size: 400%;
  background-position: 100%;
  padding: 4px;
  border-radius: 4px;
}

.shiny-animate {
  animation-name: shiny;
  animation-duration: 4s;
}

@keyframes shiny {
  from {
    background-position: 100%;
  }
  to { 
    background-position: 0%;
  }
}



.btn-visitar:active {
  border: 1px solid #e29300;
  background-color: #ffdd9f;
  color: #976200;
  padding: 4px;
  margin-top: 2px;
  border-radius: 4px;
}

/* descricao do site */

.description {
  min-height: 200px;
  background-color: #ffecc8;
}